<a href="https://colab.research.google.com/github/rafael-albuquerque-oliveira/Learning/blob/main/exemplos_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **NumPy Practice**
This notebook offers a set of exercises for different tasks with NumPy.

It should be noted there may be more than one different way to answer a question or complete an exercise.

In [ ]:
# 1 - Import numpy as its abbreviation 'np'
import numpy as np

In [ ]:
# 2
# Create a 1-dimensional NumPy array using np.array()
a1 = np.array([14, 72, 243])

# Create a 2-dimensional NumPy array using np.array()
a2 = np.array([[1, 2, 3],
                [4, 5, 6]])

# Create a 3-dimensional Numpy array using np.array()
a3 = np.array([[[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]],
                [[10, 11, 12],
                 [13, 14, 15],
                 [16, 17, 18]]])

In [ ]:
# 3 - Attributes of 1-dimensional array
a1.shape, a1.ndim, a1.dtype, a1.size, type(a1)

((3,), 1, dtype('int64'), 3, numpy.ndarray)

In [ ]:
# 4 - Attributes of 2-dimensional array
a2.shape, a2.ndim, a2.dtype, a2.size, type(a2)

((2, 3), 2, dtype('int64'), 6, numpy.ndarray)

In [ ]:
# 5 - Attributes of 3-dimensional array
a3.shape, a3.ndim, a3.dtype, a3.size, type(a3)

((2, 3, 3), 3, dtype('int64'), 18, numpy.ndarray)

In [ ]:
# 6 - Import pandas and create a DataFrame out of one
# of the arrays you've created
import pandas as pd
df = pd.DataFrame(a2)
df

   0  1  2
0  1  2  3
1  4  5  6

In [ ]:
# 7 - Create an array of shape (10, 2) with only ones
ones = np.ones((10, 2))
ones

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [ ]:
# 8 - Create an array of shape (7, 2, 3) of only zeros
zeros = np.zeros((7, 2, 3))
zeros

array([[[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]]])

In [ ]:
# 9 - Create an array within a range of 0 and 100 with step 3
range_array = np.arange(0, 100, 3)
range_array

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48,
       51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99])

In [ ]:
# 10 - Create a random array with numbers between 0 and 10 of size (7, 2)
random_array = np.random.randint(10, size=(7, 2))
random_array

array([[7, 6],
       [4, 6],
       [2, 8],
       [9, 7],
       [6, 7],
       [6, 1],
       [4, 1]])

In [ ]:
# 11 - Create a random array of floats between 0 & 1 of shape (3, 5)
np.random.random((3, 5))

array([[0.69111744, 0.35221072, 0.58052198, 0.75209394, 0.13630599],
       [0.55543682, 0.26380623, 0.92204218, 0.9655114 , 0.5682023 ],
       [0.39803035, 0.53443301, 0.84212974, 0.41437831, 0.67835467]])

In [ ]:
# 12
# Set the random seed to 42
np.random.seed(42)

# Create a random array of numbers between 0 & 10 of size (4, 6)
np.random.randint(10, size=(4, 6))

array([[6, 3, 7, 4, 6, 9],
       [2, 6, 7, 4, 3, 7],
       [7, 2, 5, 4, 1, 7],
       [5, 1, 4, 0, 9, 5]])

In [ ]:
# 13
# Create an array of random numbers between 1 & 10 of size (3, 7)
# and save it to a variable
array = np.random.randint(10, size=(3, 7))

# Find the unique numbers in the array you just created
np.unique(array)

array([0, 1, 2, 3, 4, 6, 8, 9])

In [ ]:
# 14 - Find the 0'th index of the latest array you created
array[0]

array([8, 0, 9, 2, 6, 3, 8])

In [ ]:
# 15 - Get the first 2 rows of latest array you created
array[:2]

array([[8, 0, 9, 2, 6, 3, 8],
       [2, 4, 2, 6, 4, 8, 6]])

In [ ]:
# 16 - Get the first 2 values of the first 2 rows of the latest array
array[:2, :2]

array([[8, 0],
       [2, 4]])

In [ ]:
# 17
# Create a random array of numbers between 0 & 10 and an array of ones
# both of size (3, 5), save them both to variables
a4 = np.random.randint(10, size=(3, 5))
ones = np.ones((3, 5))

In [ ]:
# 18 - Add the two arrays together
a4 + ones

array([[ 4.,  6.,  2., 10.,  2.],
       [10.,  4.,  8.,  7.,  9.],
       [ 8.,  5.,  2.,  5.,  8.]])

In [ ]:
# 19 - Create another array of ones of shape (5, 3)
ones = np.ones((5, 3))

In [ ]:
# 20 - Try add the array of ones and the other most recent array together
a4 + ones

ValueError: ignored

In [ ]:
# 21 - Create another array of ones of shape (3, 5)
ones = np.ones((3, 5))

In [ ]:
# 22 -  Subtract the new array of ones from the other most recent array
a4 - ones

array([[2., 4., 0., 8., 0.],
       [8., 2., 6., 5., 7.],
       [6., 3., 0., 3., 6.]])

In [ ]:
# 23 - Multiply the ones array with the latest array
a4 * ones

array([[3., 5., 1., 9., 1.],
       [9., 3., 7., 6., 8.],
       [7., 4., 1., 4., 7.]])

In [ ]:
# 24 - Take the latest array to the power of 2 using '**'
a4 ** 2

array([[ 9, 25,  1, 81,  1],
       [81,  9, 49, 36, 64],
       [49, 16,  1, 16, 49]])

In [ ]:
# 25 - Do the same thing with np.square()
np.square(a4)

array([[ 9, 25,  1, 81,  1],
       [81,  9, 49, 36, 64],
       [49, 16,  1, 16, 49]])

In [ ]:
# 26 - Find the mean of the latest array using np.mean()
np.mean(a4)

5.0

In [ ]:
# 27 - Find the maximum of the latest array using np.max()
np.max(a4)

9

In [ ]:
# 28 - Find the minimum of the latest array using np.min()
np.min(a4)

1

In [ ]:
# 29 - Find the standard deviation of the latest array
np.std(a4)

2.7325202042558927

In [ ]:
# 30 - Find the variance of the latest array
np.var(a4)

7.466666666666667

In [ ]:
# 31 - Reshape the latest array to (3, 5, 1)
a4.reshape(3, 5, 1)

array([[[3],
        [5],
        [1],
        [9],
        [1]],

       [[9],
        [3],
        [7],
        [6],
        [8]],

       [[7],
        [4],
        [1],
        [4],
        [7]]])

In [ ]:
# 32 - Transpose the latest array
a4.T

array([[3, 9, 7],
       [5, 3, 4],
       [1, 7, 1],
       [9, 6, 4],
       [1, 8, 7]])

In [ ]:
# 33
# Create two arrays of random integers between 0 to 10
# one of size (3, 3) the other of size (3, 2)
mat1 = np.random.randint(10, size=(3, 3))
mat2 = np.random.randint(10, size=(3, 2))

In [ ]:
# 34 - Perform a dot product on the two newest arrays you created
np.dot(mat1, mat2)

array([[135,  79],
       [ 58,  12],
       [ 70,  56]])

In [ ]:
# 35
# Create two arrays of random integers between 0 to 10
# both of size (4, 3)
mat3 = np.random.randint(10, size=(4, 3))
mat4 = np.random.randint(10, size=(4, 3))

In [ ]:
# 36 - Perform a dot product on the two newest arrays you created
np.dot(mat3, mat4)

ValueError: ignored

It doesn't work... How to fix it?

In [ ]:
# 37
# Take the latest two arrays, perform a transpose on one of them and then perform 
# a dot product on them both
np.dot(mat3.T, mat4)

array([[102,  74,  91],
       [ 56,  28,  44],
       [100,  58,  91]])


Notice how performing a transpose allows the dot product to happen.

Why is this?

Let's now compare arrays.

In [ ]:
# 38
# Create two arrays of random integers between 0 & 10 of the same shape
# and save them to variables
mat5 = np.random.randint(10, size=(4, 2))
mat6 = np.random.randint(10, size=(4, 2))

In [ ]:
# 39 - Compare the two arrays with '>'
mat5 > mat6

array([[False, False],
       [ True,  True],
       [ True,  True],
       [ True,  True]])

In [ ]:
# 40 - Compare the two arrays with '>='
mat5 >= mat6

array([[False, False],
       [ True,  True],
       [ True,  True],
       [ True,  True]])

In [ ]:
# 41 - Find which elements of the first array are greater than 7
mat5 > 7

array([[False, False],
       [ True, False],
       [False,  True],
       [ True,  True]])

In [ ]:
# 42 - Which parts of each array are equal? (try using '==')
mat5 == mat6

array([[False, False],
       [False, False],
       [False, False],
       [False, False]])

In [ ]:
# 43 - Sort one of the arrays you just created in ascending order
np.sort(mat5)

array([[0, 4],
       [6, 9],
       [6, 8],
       [9, 9]])

In [ ]:
# 44 - Sort the indexes of one of the arrays you just created
np.argsort(mat6)

array([[0, 1],
       [0, 1],
       [0, 1],
       [0, 1]])

In [ ]:
# 45 - Find the index with the maximum value in one of the arrays you've created
np.argmax(mat5)

2

In [ ]:
# 46 - Find the index with the minimum value in one of the arrays you've created
np.argmin(mat6)

2

In [ ]:
# 47 - Find the indexes with the maximum values down the 1st axis (axis=1)
# of one of the arrays you created
np.argmax(mat5, axis=1)

array([1, 0, 1, 0])

In [ ]:
# 48 - Find the indexes with the minimum values across the 0th axis (axis=0)
# of one of the arrays you created
np.argmin(mat6, axis=0)

array([1, 1])

In [ ]:
# 49 - Create an array of normally distributed random numbers
np.random.randn(3, 5)

array([[ 0.26105527,  0.00511346, -0.23458713, -1.41537074, -0.42064532],
       [-0.34271452, -0.80227727, -0.16128571,  0.40405086,  1.8861859 ],
       [ 0.17457781,  0.25755039, -0.07444592, -1.91877122, -0.02651388]])

In [ ]:
# 50 - Create an array with 10 evenly spaced numbers between 1 and 100
np.linspace(1, 100, 10)

array([  1.,  12.,  23.,  34.,  45.,  56.,  67.,  78.,  89., 100.])